<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">ERROR 404</h2>
                    <p>Page not Found</p>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>

                            <!-- Change this to a button or input when using this as a form -->
                                <a class="btn btn-lg btn-block" (click)="goHome()">
                                    <i class="fa fa-home"></i>
                                    Go back home
                                </a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
